.bar {
    width: 100%;
    background-color: #1e1e1e;
    height: 100px;
    position: relative;
}

.logo {
    float: left;
    height: 35px;
    width: 220px;
    margin-left: 25px;
    margin-top: 10px;
    padding: 20px;
    background-image: url(../images/BoardLogo.png);
    background-size: 100% 100%;
}

.log {
    width: 125px;
    height: 35px;
    position: absolute;
    right: 150px;
    top: 35px;
    border-radius: 25px; 
    color: white;
    /* border: 1px solid rgb(251, 251, 251); */

}


/* background-color: #218FBE; */

/* .log:hover {
    background-color: rgba(40, 63, 132, 0.75);
    color: #218FBE; 
} */

.admin {
    width: 125px;
    height: 35px;
    color: white;
    position: absolute;
    right: 300px;
    top: 35px;
    

    /* border: 1px solid rgb(255, 255, 255); */
}


/* background-color: #218FBE;
     */
/* .admin:hover {
     background-color: rgba(40, 63, 132, 0.75);
    color: white;
} */

.cart {
    width: 40px;
    height: 40px;
   
  
    position: absolute;
    right: 40px;
    top: 30px;
    background-image: url(../images/shopping-cart.png);
    background-size: 100% 100%;
}

.pfp {
    position: absolute;
    right: 35px;
    top: 10px;
    height: 80px;
    width: 80px;
   
    border: 1px solid black;
    border-radius: 50px;
    background-image: url(../images/rick.png);
    background-size: 100% 100%;
}

.NavText {
    color: white;
}

.NavText:hover {
    /* color: #218FBE; */

    color: #929292;
}

/* h3 {
    font-weight: 400;
    font-size: 20px;
    color: white;
}

h3:hover {
    color: white;
} */

.block {
   float: right;
   margin-right: 5px;
    width: 100px;
    height: 100%;
    border-left: 1px solid white;
}

.block:hover {
    box-shadow: 0px 1px 17px 0px #218FBE;
-webkit-box-shadow: 0px 1px 17px 0px #218FBE;
-moz-box-shadow: 0px 1px 17px 0px #218FBE;
}