.manage {
    width: 100%;
    height: 900px;
    
}

.Orders{
    margin-left: 150px;
    font-size: 50px;
}

.MainManage{
    width: 90%;
    height: 800px;
    background-color: red;
    border: 2px solid black;
    margin: auto;
    border-radius: 25px;
}

.item {
    margin: auto;
    margin-top: 5px;
    width: 95%;
    height: 100px;
   
    border-radius: 25px;
    border: 1px solid black;
}