/* .indiv {
    width:100%;
    height: 800px;
    margin: auto;
   background-color: red;
   
}

.container {
    width: 95%;
    height: 850px;
    
    margin: auto;
}

.back{
    width: 50px;
    height: 50px;
    background-image: url(../images/back.png);
    background-size: 100% 100%;
}

.ImageContainer{
    margin-left: 50px;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    float: left;
    border: 1px solid black;
    
}

.InsideImg {
    margin: auto;
    width: 40%;
    height: 100%;
    background-image: url(../images/Board2.png);
    background-size: 100% 100%
}

.DetailContainer {
    margin-left: 50px;
    margin-top: 50px;
    width: 600px;
    height: 500px;
    
    float: left;
}

.DetailContainer h1 {
    font-weight: 700;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
}

.rating {
    width: 220px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    
}
.star{
    height: 100%;
    width: 20px;
    float: left;
    background-image: url(../images/star.png);
    background-size: 100% 100%;
}

.DetailContainer h2 {
    font-weight: 750;
    font-size: 25px;
    color: black;
    margin-top: 100px;
}

.DetailContainer h4 {
    margin-left: 25px;
    font-size: 18px;
    margin-top: 25px;
    font-weight: 600;
    color: black;
}

.quantity {
    margin-top: 50px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    float: left;
    border: 1px solid black;
    margin-left: 5px;
}

.one {
    width: calc(30%);
    height: 100%;
    border-right: 1px solid black;
    float: left;
    text-align: center;
}

.two {
    width: calc(37%);
    height: 100%;
    float: left;
    text-align: center;
   
}

.three {
    width: calc(30%);
    height: 100%;
    border-left: 1px solid black;
    float: left;
    text-align: center;
    
}

.add {
    margin-top: 50px;
    width: 180px;
    height: 40px;
    font-size: 15px;
    float: left;
    margin-left: 5px;
    background-color: #218FBE;
    color: white;
    border: none;

}

.add:hover {
    background-color: #005477;

}

.bestseller {
    width: 400px;
    height: 600px;
    float: left;
  
    margin-left: 0px;
    margin-top: 50px;
}

.besties {
    width: 100%;
    height: 200px;
    border: 0.1rem solid black;
    position: relative;
}

.bestImg {
    width: 35%;
    height: 100%;
    float: left;
     
}

.hh2 {
    color: black;

}

.bestImgImg {
    height: 100%;
    width: 50%;
   
    margin: auto;
    background-image: url(../images/Board1.png);
    background-size: 100% 100%;
}

.bestPrice {
    position: absolute;
    bottom: 20px;
    right: 160px;
    color: black;

}

.besties2 {
    width: 100%;
    height: 200px;
    background-color: rgb(127, 161, 127);
}

.besties3 {
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
}

.moreDeets{
    width: 800px;
    height: 400px;
   
    margin-top: 600px;
    margin-left: 50px;
}

h7 {
    font-size: 25px;
    font-weight: 400;
    float: left;
    margin-top: -45px;
    margin-left: 10px;
    text-decoration: underline 5px #218FBE;
}

ul {
    margin-left: 30px;
}

li {
    margin-top: 10px;
}
 */













.indiv {
    width:100%;
    height: 1500px;
    margin: auto;
        /* padding-top: 100px; */
   background-color: #F4F4F4;
}


.containerLeft {
    float: left;
    width: 49%;
    height: 800px;
 
    margin-top: 50px;
   /* background-color: #FFFFFF; */

}

.back {
    margin-left: 50px;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url(../images/back-arrow.png);
}

.mainImage {
    margin: auto;
    height: 100%;
    width: 40%;
  
    background-image: url(../images/Board2.png);
    background-size: 100% 100%;
}

.containerRight {
    float: right;
    width: 49%;
    height: 800px;
    
    margin-top: 50px;

}

.name {
    font-size: 70px;
    font-weight: 400;
}

.description {
    font-size: 40px;
    font-weight: 400;

}

.brand {

    font-size: 40px;
    font-weight: 400;

}

.price {
    margin-top: 25px;
    font-size: 40px;
    font-weight: 400;

}

.stock {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.colors {
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    text-decoration: underline;
}

.block {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    position: relative;
}

.block:hover {
    background-color: #218FBE;
    transition: ease-in-out 200ms;

}

.add {
    float: left;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    height: 70px;
    font-size: 30px;
    background-color: black;
    color: white;
    border: none;
}


.add:hover{
    background-color: #218FBE;

    transition: ease-in-out 300ms;
}

.sellerText{
    margin-top: -50px;
}

.bestSeller {
    width: 90%;
    height: 450px;
   
    float: left;
    margin: auto;
    margin-top: 150px;
    margin-left: 70px;
    overflow: scroll;
}


.best1 {
   
    width: 20%;
    height: 100%;
    
    float: left;
}

.bestImage {
    width: 40%;
    height: 350px;
    margin: auto;
    /* background-color: red; */
    background-image: url(../images/Board1.png);
    background-size: 100% 100%;
}

.best2 {
    
    width: 20%;
    height: 100%;
    
    float: left;
}

.best3 {
    
    width: 20%;
    height: 100%;
    
    float: left;
}

.best4 {
    
    width: 20%;
    height: 100%;
    
    float: left;
}

.best5 {
    
    width: 20%;
    height: 100%;
    
    float: left;
}

.best6 {
    
    width: 20%;
    height: 100%;
    
    float: left;
}

.bestName {
    text-align: center;
    font-weight: 600;
}


h6 {
    margin: auto;
}

