* {
    padding: 0;
    margin: 0;
}

.Slider {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 790px;
    /* padding-top: 100px; */
    position: relative;
}

.all {
    overflow: scroll;
}



.MainShop {
    padding-top: 50px;
    width: 100%;
    height: 2000px;
    background-color: rgb(78, 78, 78);
   
}



.NewArrivals {
    padding-left: 60px;
    width: 90%;
    height: 500px;
    margin: auto;
    
}



h2 {
    margin-left: 25px;
    color: white;
    text-decoration: underline;

}


.slider {
    height: 200px;
    background-color: red;
}

.alice-carousel{
    height: 200px;
}

.sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.carting {
    z-index: 999;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 150px;
    cursor: pointer;
    color: white; 
}

.carting:hover {
    color: #218FBE;

}